
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>智慧大数据监控大屏-爪哇笔记</title>
<meta name="keywords" content="大屏监控方案,大数据分析平台,智慧交通,智慧物流，物联网平台，智慧运维">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="static/iview/styles/iview.css">
<link href="static/bootstrap.min.css" rel="stylesheet">
<style>
[v-cloak] {
display: none;
}
body{text-align:center;}
</style>
</head>
<body>
<h2> <a href="https://gitee.com/lvyeyou/DaShuJuZhiDaPingZhanShi">智慧大数据监控大屏</a></h2>
<div style="margin: 20px" id="app">
<template>
<Collapse>

<Panel name="1">
但行好事莫问前程
<p slot="content">
<img style="max-width:100%;" src="static/images/wechat.png"/>
</p>
</Panel>
</Collapse>
</template>
<template>
<tabs>
<tab-pane v-for="item in list" :label="item.name" >
<div class="col-sm-6 col-md-4" v-for="sub in item.child">
<a :href="'/'+item.name+'/'+sub+'/index.html'" class="thumbnail" >
<img :src="'https://bed.52itstyle.com/monitor/'+sub+'.png'" alt="...">
<div class="caption" style='text-align: center'>
<h3>{{sub}}</h3>
</div>
</a>
</div>
</tab-pane>
</tabs>
</template>


</div>
<script src="static/vue/vue.min.js"></script>
<script src="static/iview/iview.min.js"></script>
<script>
var vm = new Vue({
el: '#app',
data:{
value: '1',
list:[
{ name: '智慧交通', child: [ '大数据视频监控', '智慧旅游综合服务平台', '高速交通大数据分析平台' ] },
{ name: '智慧医疗', child: [ '大数据医疗服务平台' ] },
{ name: '智慧城市', child: [ '大数据可视化展板通用模板', '智慧工地' ] },
{
name: '智慧政务',
child: [ '土地交易大数据可视化平台', '工商办税大数据监控平台', '智慧社区内网比对平台', '综合分析平台', '舆情分析平台' ]
},
{ name: '智慧物流', child: [ '智慧物流服务平台', '物流大数据服务平台' ] },
{ name: '智慧气象', child: [ '气象预报大数据平台' ] },
{ name: '智慧物联', child: [ '新能源车联网综合大数据平台', '物联网监控平台' ] },
{
name: '智慧电商',
child: [ '生意参谋大数据可视化平台', '电子商务公共服务平台大数据中心', '运营大数据' ]
},
{
name: '智慧运维',
child: [ '可视化监控管理平台', '大数据统计展示大屏', '大数据运维总览图', '设备环境监测平台' ]
},
{ name: '智慧运营', child: [ '厅店效能大屏监控看板' ] },
{ name: '智慧金融', child: [ '银行企业信用风险实时监测平台' ] },
{ name: '智慧公号', child: [ '爪哇笔记', '爪哇妹' ] }
]
}
});
</script>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?04777b0a1163fe9ddadb91f80909be02";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
